{{#if addNewPost}}
  <h1>New Post</h1>
  <form>
    <label for="title">Title</label>
    {{input value=title id='title'}}

    <label for="Content">Content</label>
    {{input value=content id='content'}}

    <label for="type">Type</label>
    {{input value=type id='type'}}

    <button class="btn btn-primary"{{action 'savePost'}}>Save Post</button>
  </form>
{{else}}
  <button class="btn btn-primary"{{action 'postFormShow'}}>New Post</button>
{{/if}}
