{{#if addNewPost}}
  <h1>New Post</h1>
  <form>
    <label for="title">Title</label>
    {{input value=title id='title'}}
    <br>
    <label for="Content">Content</label>
    {{input value=content id='content'}}
    <br>
    <label for="type">username</label>
    {{input value=type id='type'}}
    <br>
    <button class="btn btn-primary"{{action 'savePost'}}>Save Post</button>
  </form>
{{else}}
  <button class="btn btn-primary"{{action 'postFormShow'}}>New Post</button>
{{/if}}
