<div class="posts">
  {{#if contentShowing}}
    <h1><a {{action 'contentHide'}} href="#">{{post.title}}</a></h1>
    <h3>{{post.content}}</h3>
  {{else}}
    <h1><a {{action 'contentShow'}} href="#">{{post.title}}</a></h1>
  {{/if}}
  <h5>Topic: {{post.type}}</h5>
  {{update-post post=post update="update"}}
  <button class="btn btn-danger"{{action 'delete' post}}>Delete Post</button>
  <hr>
</div>
